*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;

}
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
header{
    height: 100vh;
    background-color: #434448;
    position: fixed;
    color: white;
    top:0;
    left:0;
    width: 100%;
    overflow-x:hidden;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}
.nav_top{
    display: inline-block;
    font-size: 2em;
}

main{
    height: 400vh;
    background-color: whitesmoke;
    margin-top: 100vh;
    z-index: 2;
    position: relative;
}
header img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 55%;
    right: -45%;

}
header nav{
    position: absolute;
    right: 8%;
    top:3%;
    font-size: 4rem;
}
header hgroup{
    position: absolute;
    top:20%;
    right: 10%;
    z-index: 1;


}

header h1{
    font-size: 3rem;
}
header h2{
    font-size: 2rem;

}

#arrow{
    position: absolute;
    width: 64px;
    height:64px;
    border: 3px solid black;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px ;
    font-size: 5rem;
    text-align: center;
    color: black;
    text-shadow: 0px -12px 0 black, 0px -24px 0 black;
    overflow: hidden;
    transition: 1s ease;
}
#arrow:hover{
    text-shadow: 0px -12px 0 white, 0px -24px 0 white;
    color: white;
    border-color: white;
    background-color: black;
    cursor: pointer;

}
.fa-angle-down{
    animation: arrow 1s infinite linear;
}

.about-us-text {
    width: 28%;
    height: 450px;
    position: relative;
    border: 2px solid #79BD9A;
    border-radius: 5%;
    color: black ;
    float: left;
    text-align: center;
    font-size: 30px;
    margin:20px;




}

.about-us-haslo {
    padding: 5px;
    text-align: center
}

.oferta {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.oferta-small {
    border: 2px solid #79BD9A;
    border-radius: 5%;
    width: 600px;
    height: 350px;
    margin: 30px;
    text-align: center;
    font-size: 30px;
}
.contact-title {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: #79BD9A;
    padding: 40px;
    float: left;

}

@media (orientation: portrait)  {
    h2 span::after{
        content: '\A';
        white-space: pre;
    }

}

@media(orientation: landscape) {
    header img {

        margin-right: 0;
        margin-left: 50%;

    }
}
@media(max-width: 320px){

}


@keyframes arrow {
    0%{transform: translateY(-80px)}
    50%{transform: translateY(0px)}
    100%{transform: translateY(80px)}

}